body {
    font-family: 'Raleway', arial, sans-serif;
    font-style: 800;
    background: rgb(255, 255, 255);
    text-align: center;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

button {
    margin-left: 5px;
}

.game-menu {
    display: none;
}

.game-menu-down {
    margin-top: 20px;
}
